# Python
__pycache__/
*.py[cod]
.venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/

# AWS CDK
cdk.out/
*.js
*.d.ts
node_modules/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Secrets
*.pem
*.key
.aws/

# CDK source config files
!infrastructure/cdk/jest.config.js